@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@400;500;600&display=swap");

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Exo 2", sans-serif;
}

.container {
  width: 100%;
  min-height: 100vh;
  box-sizing: border-box;
  overflow: hidden;
}

#lillaContainer {
  padding-left: 8%;
  padding-right: 8%;
}

.navbar {
  width: 100%;
  display: flex;
  align-items: center;
  
}

.logga {
  width: 100px;
  cursor: pointer;
  margin-top: 40%;
  margin-left: 70%;
  
}
.navbar:hover
{
  animation-name: animation1;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}
.utforska {
  color: #fff;
  text-decoration: none;
}

.menu-icon {
  width: 40px;
  cursor: pointer;
  display: none;
  margin: 10px 8px 0 0;
}

nav {
  flex: 1;
  text-align: right;
}

nav ul li {
  list-style: none;
  display: inline-block;
  margin-right: 30px;
  text-transform: uppercase;
  font-weight: 1000;
}

nav ul li a {
  text-decoration: none;
  color: #000;
  font-size: 14px;
}

nav ul li a:hover {
  color: #1e453e;
}

.rad {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 100px 0;
}

.kolumn1 {
  position: relative;
  margin-left: 50px;
  border: 2px solid black;
  box-shadow: 10px 5px 5px grey;
  padding: 70px;
  margin-left: 50px;
  justify-content: center;

}

.kolumn1 h2 {
  font-size: 54px;
}

.kolumn1 h3 {
  font-size: 30px;
  color: #707070;
  font-weight: 100;
  margin: 20px 0 10px;
}

.kolumn1 p {
  font-size: 16px;
  color: #b7b7b7;
  font-weight: 100;
}

.kolumn1 h4 {
  margin: 30px 0;
  font-size: 20px;
}

.köpNu {
  width: 140px;
  border: 0;
  padding: 12px 10px;
  outline: none;
  color: #fff;
  background: linear-gradient(to right, #182c25, #1e453e);
  border-radius: 6px;
  cursor: pointer;
  transition: ease 0.5s;
}
.kolumn2 {
  position: relative;
  flex-basis: 60%;
  display: flex;
  align-items: center;
  margin-left: 100px;
}

.kolumn2 .kontroll {
  width: 90%;
}

.box {
  position: absolute;
  right: 0;
  top: 0;
  background: linear-gradient(to right, #182c25, #1e453e);
  border-radius: 20px 0 0 20px;
  height: 100%;
  width: 90%;
  z-index: -1;
  transform: translateX(150px);
  box-shadow: 10px 5px 5px grey;
}

.knapp img {
  width: 35px;
  margin-bottom: 5px;
}

.knapp {
  text-align: center;
  color: #fff;
  cursor: pointer;
}

.social img {
  height: 13px;
  margin: 20px;
  cursor: pointer;
}

.social {
  text-align: center;
}
.fa-brands {
  font-size: 100px;
  padding: 20px;
  color: black;
}

h1 {
  color: #fff;
}

#video {
  width: 100%;
  z-index: -1;
  position: absolute;
  margin-top: -4%;
  filter: brightness(25%);
}

.ingår {
  font-size: 500%;
  margin-left: 10%;
}

.specsText {
  color: white;
  padding: 3% 0 0 10%;
  line-height: 350%;
}

#footer {
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  color: #fff;
  justify-content: center;
  margin-top: 18%;
}

.text {
  height: 30px;
}

.kontaktContainer {
  margin: auto;
  max-width: 960px;
  margin-top: 100px;
  display: grid;
  width: 1500px;
  height: 505px;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
  background: linear-gradient(to right, #182c25, #1e453e);
  border-radius: 0.5rem;
  overflow: hidden;
  box-shadow: 10px 5px 5px black;
}
input::placeholder,
textarea::placeholder {
  color: #fff;
}

.formContainer {
  padding: 20px;
}

.formContainer,
h3 {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.kontaktForm {
  display: grid;
  row-gap: 2rem;
}

.kontaktForm input,
.kontaktForm textarea {
  width: 100%;
  border: none;
  outline: none;
  background: teal;
  padding: 10px;
  font-size: 1rem;
  color: #fff;
  border-radius: 0.5rem;
}

.kontaktForm,
textarea {
  resize: none;
  height: 200px;
}

.kontaktForm,
.skicka {
  border: none;
  outline: none;
  font-size: 1rem;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
}

.karta,
iframe {
  width: 100%;
  height: 100%;
}
@media only screen and (max-width: 1560px)
{
  #footer
  {
    margin-top: 13%;
  }
}
@media only screen and (max-width: 1460px)
{
  #footer
  {
    margin-top: 11%;
  }
}
@media only screen and (max-width: 1360px)
{
  #footer
  {
    margin-top: 9%;
  }
}
@media only screen and (max-width: 1260px)
{
  #footer
  {
    margin-top: 7%;
  }
}
@media only screen and (max-width: 1160px)
{
  #footer
  {
    margin-top: 5%;
  }
}
@media only screen and (max-width: 1060px) {
  nav ul {
    width: 100%;
    background: linear-gradient(to right, #182c25, #1e453e);
    position: absolute;
    top: 75px;
    right: 0;
    z-index: 2;
  }
  #video {
    opacity: 0;
  }

  nav ul li {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  nav ul li a {
    color: #fff;
  }

  .menu-icon {
    display: block;
  }

  #menuList {
    overflow: hidden;
    transition: 0.5s;
  }

  .rad {
    flex-direction: column-reverse;
    margin: 50px 0;
  }

  .kolumn2 {
    flex-basis: 100%;
    margin-bottom: 50px;
  }

  .kolumn2 .kontroll {
    width: 77%;
  }

  .box {
    transform: translateX(75px);
  }

  .kolumn1 {
    flex-basis: 100%;
  }

  .kolumn1 h2 {
    font-size: 35px;
  }

  .kolumn1 h3 {
    font-size: 15px;
  }

  .logga {
    margin-left: 3%;
  }
  .kontaktContainer {
    margin: 0 auto;
    width: 90%;
  }
  .kolumn1 {
    width: 50%;
    height: 40%;
  }
  #footer
  {
    margin-top: -40%;
  }
}

@media (max-width: 964px) {
  .specsText {
    line-height: 175%;
  }
  .kontaktContainer {
    margin: 0 auto;
    width: 90%;
  }
}
@media (max-width: 700px) {
  .kontaktContainer {
    grid-template-columns: 1fr;
    gap: 1rem;
    margin-top: 0px;
    height: 1000px;
  }
  iframe
  {
    margin-top: 200px;
  }
  #footer
  {
    height: 10%;
  }
  .karta iframe {
    height: 400px;
  }
  .social {
    margin-top: 0%;
  }
}
@media (max-width: 500px)
{
  .kolumn1
  {
    margin-left: 1px;
  }
  #footer
  {
    margin-top: -60%;
  }
  .logga
  {
    margin-left: 30px;
    width: 70px;
  }
  .utforska, .knapp
  {
    opacity: 0;
  }
}
@keyframes animation1
{
  from {background-color: transparent;}
  to {background-color: #1e453e;}
}
